.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 60px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}


.footer__logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.footer-logo__link {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.footer__logo__img {
    display: inline-block;
    margin-right: 8px;
    width: 35px;
    height: 35px;
}

.footer__copy-right {
    display: inline-block;
    color: #616161;
}

.category-title {
    text-transform: capitalize;
    color: #141414;
}

.category-list {
    padding-left: 0;
    list-style-type: none;
}

.category-list__link {
    display: block;
    text-decoration: none;
    color: #616161;
    text-transform: capitalize;
}

@media (max-width: 900px) {
    .header {
        flex-direction: column;
        align-items: baseline;
    }

    .nav__menu {
        flex-direction: column;
        align-items: baseline;
    }

    .hero {
        padding-top: 30px;
    }

    .nav {
        margin-top: 10px;
    }

    .header li:not(:first-child) {
        margin-left: 0;
    }

    .hero__article {
        flex-direction: column;
        align-items: baseline;
    }

    .list {
        grid-template-columns: 1fr;
    }

    .hero__article-content {
        margin-left: 0;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .card-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .card-feedback-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }

    .footer-wrapper {
        flex-direction: column;
    / / justify-content: space-between;
    }
}


@media (max-width: 550px) {
    .card-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-feedback-wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 60px;
    }

    .categories {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .inner-wrapper {
        padding-left: 30px;
    }

    .section__features {
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer {
        padding-left: 30px;
    }
}