/*noinspection ALL*/
body {
    margin: 0;
    font-family: Roboto;
}

.content {

}

.header {
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 26px;
    margin: 0;

}


.header__logo a {
    text-decoration: none;
    color: #000;
    display: flex;
}

.header__logo__img {
    width: 33px;
    display: inline-block;
    margin-right: 7px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-bar__nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav a > i {
    color: #B9B9B9;
}


.nav-bar__nav li:last-child {
    background-color: #f3f3f3;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-top: 0;
    border-radius: 5px;
}

.header li:not(:first-child) {
    margin-left: 12px;
}

.nav-bar__nav li {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.nav a {
    text-decoration: none;
    display: inline-block;
    color: #000000;
    padding: 10px;
}

.nav-bar-nav li > i {
    color: #B9B9B9;
}












